min_peers = 1
max_peers = 15
download_rate = 0
upload_rate = 0
directory = /home/sbar/downloads
session = /home/sbar/.sessions

# check out new *.torrent files once per 5 seconds
schedule = watch_directory,5,5,load_start=/home/sbar/Downloads/*.torrent

port_range = 6881-6889
port_random = no

use_udp_trackers = yes

session_save = yes

#scgi_port = localhost:5000

check_hash = no

# vim: filetype=conf
