font: -*-terminus-medium-r-normal-*-14-*-*-*-*-*-iso10646-*
Emacs*font: -*-terminus-medium-r-normal-*-14-*-*-*-*-*-iso10646-*
! Xcursor.size: 2048
! Xcursor.size: 32
! Xcursor.theme: MacOSxLike
! Xcursor.theme: /usr/share/cursors/xorg-x11/Bluecurve/cursors
! Xcursor.theme: RezoBlack
! Xcursor.theme: MacOSxLike
! Xcursor.theme: Adwaita
