[user]
    name = Alexander Lopatin
    email = alopatindev@gmail.com
    signingkey = 44FB438EDA183EF0

[core]
    excludesfile = ~/.gitignore.global
    ignorecase = false
    quotePath = false
    #editor = "vi +0"
    editor = "nvim -u DEFAULT +0"

[color]
    ui = true

[push]
    default = matching

[pull]
    rebase = false

[merge]
    conflictstyle = diff3

[difftool]
    prompt = false

[alias]
    s = status -s --untracked-files=no
    ss = status -s
    l = log --oneline --decorate --all --graph
    ll = log --show-signature
    lll = log --show-signature -p
    please = push --force-with-lease
    g = grep --extended-regexp --break --heading --line-number
    search = log --color=always --no-merges -i -E --pretty='%h (%ad) - [%an] %s %d' --date=format:'%b %d %Y' --grep
    diffuse = difftool --tool diffuse
    b = branch --sort=-committerdate
    co = !git fetch -v origin $1 && git checkout $1 && git pull -v origin $1 && :
    hco = !git fetch -v origin $1 && git checkout $1 && git reset --hard "origin/$1" && git pull -v origin $1 && :

[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less

[color "diff"]
    meta = yellow bold
    frag = cyan
    old = red bold
    new = blue bold

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold

[grep]
    break = true
    heading = true
    lineNumber = true

[rebase]
    autoStash = true

[commit]
    gpgsign = true

[gpg]
    program = gpg

[init]
    defaultBranch = master

[includeIf "gitdir:~/work/**/.git"]
    path = ~/.config/git/kupibilet.ini

[includeIf "gitdir:~/.private/work/**/.git"]
    path = ~/.config/git/kupibilet.ini
