ACTION=="add", SUBSYSTEM=="sound", ENV{ID_VENDOR}=="ZOOM_Corporation", RUN+="/usr/local/sbin/switch-mic.sh"
ACTION=="remove", SUBSYSTEM=="sound", ENV{ID_VENDOR}=="ZOOM_Corporation", RUN+="/usr/local/sbin/switch-mic.sh"
